.searchBar{
    margin-top: 5px;
    position: absolute;
    width: 100px;
    margin-left: 45%;
    transform: translate(-50%, 0%);
    z-index: 1000;
}

.searchBar input{
    position: inherit;
    background-color: #ccc8;
    color: #222;
    border: 2px solid #111a;
    border-radius: 25px;
}

.searchBar button{
    z-index: 1000;
    margin-left: 200px;
    width: 100px;
    text-decoration: none;
    background-color: #111a;
}

#btn:visited{
    text-decoration: none;
}
